
 <!-- POR cada vuelta al array crea una variable/objeto pelicula  -->
<article class="article-item" >
    <div class="image-wrap">
        <img alt="{{pelicula.title}}" src="{{pelicula.image}}">
    </div>
    <h2>{{pelicula.title}}</h2>
    <span class="date">
        Hace 5 minutos
    </span>
    <!--DIRECTIVA DE CSS O DE ATRIBUTO -> [style._____]-->
    <!-- SI pelicula.year ES MAYOR a 2016 le aplicas VERDE y si no ":" le aplicas ROJO-->
    <!--
        <span class="year" [style.background]="pelicula.year > 2016 ? 'green' : 'red'">
            {{pelicula.year}}
        </span>
        -->

    <!--DIRECTIVA DE CSS PARA APLICAR UNA CLASE -->
    <!--
            <span class="year" [class.year-green]="pelicula.year > 2016"
                            [class.year-red]="pelicula.year < 2016">
            {{pelicula.year}}
        </span>

        -->
    <span class="year" [ngClass]="{
                    'year-green': pelicula.year > 2016,
                    'year-red': pelicula.year < 2016
                }">
        {{pelicula.year}}
    </span>
    <a href="#">Leer Más</a>

    <button (click)="seleccionar($event, pelicula)">
        Seleccionar como favorito
    </button>

    <div class="clear-fix"></div>
</article>