<!-- Efecto de Cargando -->
<div class="loading" *ngIf="!articles">
    Cargando...
</div>

<div class="loading" *ngIf="articles && articles.length ==0">
    No hay articulos para mostrar, intentalo más tarde
</div>


<div id="articles" *ngIf="articles">
    <article class="article-item"  *ngFor="let article of articles">
        <div class="image-wrap">
            <img alt="{{article.title}}" src="{{url+'get-image/'+article.image}}" *ngIf="article.image">
            <img alt="{{article.title}}" src="../../../assets/images/default.jpg" *ngIf="!article.image">
        </div>
        <h2>{{article.title}}</h2>
        <span class="date">
            <!-- Usamos la PIPE de Angular2-moment para darle formato a la fecha 
                El amLocale indica la "zona horaria o el idioma en que se presentara"
                y el amTimeAgo hace una resta del dia actual menos la fecha de creación de ese articulo
            -->
            {{article.date | amLocale: 'es' | amTimeAgo}}
        </span>
        <a [routerLink] = "['/blog/articulo',article._id]">Leer Más</a>
        <div class="clear-fix"></div>
    </article>
</div>