<app-slider [nombre]="'Formulario'" [size]="'small'">
</app-slider>

<div class="center">
    <section id="content">


        <h2 class="subheader">Formulario</h2>

        <form class="mid-form" #userForm="ngForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre"
                required pattern="[a-zA-Z]+" >
                
                <small *ngIf = "!nombre.valid && nombre.touched">
                    El nombre no es valido
                </small>
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required>
                <small *ngIf = "!apellidos.valid && apellidos.touched">
                    Los apellidos no son validos
                </small>
            </div>
            <div class="form-group">
                <label for="nombre">Biografia</label>
                <textarea name="bio" id="bio" cols="30" rows="10" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small *ngIf = "!bio.valid && bio.touched">
                    La bio no es valida
                </small>
            </div>
            <div class="form-group radiobuttons">
                <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero"/>Hombre
                <input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero"/>Mujer
                <input type="radio" name="genero" value="otro" #genero="ngModel" [(ngModel)]="user.genero"/>Otro
                <small *ngIf = "!genero.valid && genero.touched">
                    EL genero no es valido
                </small>
            </div>
            <div class="clear-fix"></div>

            <input type="submit" class="btn btn-success" value="enviar" [disabled] = "userForm.invalid">
        </form>

        <h2 class="subhader">Eventos</h2>
        <button (click)="hasDadoClick()">Dale Click</button>
        <input type="text" [(ngModel)] = "campo" (blur) = "hasSalido()">
        {{campo}}

        <input type="text" [(ngModel)] = "campo2" (keyup.enter) = "hasDadoEnter()">

    </section>
    <app-sidebar></app-sidebar>
</div>