<app-slider 
    [nombre]="'Busqueda: '+ search" [size]="'small'">
</app-slider>

<div class="center">
    <section id="content">
        <h2 class="subheader">Articulos Encontrados</h2>

        <app-articles
            [articles]="articles"
        >
        </app-articles>

    </section>
    <app-sidebar></app-sidebar>
</div>