<app-slider [nombre]="'Pagina'"
[size]="'small'">
</app-slider>

<div class="center">
    <section id="content">
        <h1>Pagina de Pruebas</h1>

        <div *ngIf="nombre && apellidos; then siHayParametros else noHayParametros">
        </div>

        <ng-template #siHayParametros>
            <h2>El nombre es {{nombre}}</h2>
            <h2>Los apellidos {{apellidos}}</h2>
        </ng-template>

        <ng-template #noHayParametros>
            <h2>NO HAY PARAMETROS POR LA URL</h2>
        </ng-template>

        <button (click)="redireccion()">PONME NOMBRE Y APELLIDOS</button>

    </section>
    <app-sidebar></app-sidebar>
</div>