

<div class="center">
    <section id="content">
        <article class="article-item article-detail">
            <div class="image-wrap">
                <img alt="{{article.title}}" src="{{url+'get-image/'+article.image}}" *ngIf="article.image">
                <img alt="{{article.title}}" src="../../../assets/images/default.jpg" *ngIf="!article.image">
            </div>
            <h1 class="subheader">{{article.title}}</h1>
            <span class="date">
                {{article.date | amLocale: 'es' | amTimeAgo}}
            </span>
            <p>
                {{article.content}}
            </p>
            <div class="buttons">
                <a [routerLink] = "['/blog/editar',article._id]" class="btn btn-warning">Editar</a>

            <a (click)="delete(article._id)" class="btn btn-danger">Borrar</a>
            </div>
            


            <div class="clear-fix"></div>
        </article>

    </section>
    <app-sidebar></app-sidebar>
</div>