

<div class="center">
    <section id="content">


        <h2 class="subheader">{{page_title}}</h2>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title"
                required >
                
                <small *ngIf = "!title.valid && title.touched">
                    El titulo no es valido
                </small>
            </div>
            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" cols="30" rows="10" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small *ngIf = "!content.valid && content.touched">
                    El contenido no es válido
                </small>
            </div>
            <div class="form-group">
                
                <div class="image-thumb" *ngIf="is_edit">
                    <img alt="{{article.title}}" src="{{url+'get-image/'+article.image}}" *ngIf="article.image">
                    <img alt="{{article.title}}" src="../../../assets/images/default.jpg" *ngIf="!article.image">
                </div>

                <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>

            <div class="clear-fix"></div>

            <input type="submit" class="btn btn-success" value="Guardar" [disabled] = "articleForm.invalid">
        </form>

    </section>
    <app-sidebar></app-sidebar>
</div>