
<h1>{{ titulo }}</h1>
<h2>{{ year }}</h2>
<p>{{ comentario }}</p>
<hr>
<button (click) = "ocultarPeliculas()">Ocultar peliculas</button>
<div *ngIf="mostrarPeliculas">
    <peliculas></peliculas>
</div>
