<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a [routerLink] = "['/blog/crear']" class="btn btn-success">Crear Articulo</a>
    </div>
    
    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el articulo que buscas</p>
        <form #searchForm = "ngForm" (ngSubmit) = "goSearch()">
            <!-- el [(ngModel)] sirve para bindear una variale en el modelo, sidebar.component.ts
                Una vez ingresado un valor en el input, al darle clik en el submit pasa ese valor y l setea
                en la variable que tenemos en el modelo que se lama searchString
            -->
            <input type="text" name="search" [(ngModel)] = "searchString">
            <input type="submit" name="submit" value="buscar" class="btn">
        </form>
    </div>

</aside>
<div class="clear-fix"></div>