body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing: antialiased;

}

#header{
    height: 120px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #f52929;
}

.center{
    width: 75%;
    margin: 0px auto;
}

.clear-fix{
    clear: both;
    float: none;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: 15px;

    animation: latir infinite 2s linear;
}
 /* ANIMACIONES */
@keyframes latir{
    0% {
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: rotate(0.5, 0.5);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 70%;
    float: right;
    font-size: 18;
}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover, 
.active{
    color: #c41616 !important;
}
.year-green{
    background-color: green;
    color: white;
    display: block;
    padding: 5px;
    width: 120px;
    text-align: center;
}

.year-red{
    background-color: red;
    color: white;
    display: block;
    padding: 5px;
    width: 120px;
    text-align: center;
}

#slider{
    width : 100%;
    
    width: 100%;
    height: 350px;
    /*line-height: 320px;*/
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*DEGRADADO */
    background: rgba(169,3,41,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 15%, rgba(171,2,41,1) 21%, rgba(143,2,34,1) 55%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(169,3,41,1)), color-stop(15%, rgba(169,3,41,1)), color-stop(21%, rgba(171,2,41,1)), color-stop(55%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 15%, rgba(171,2,41,1) 21%, rgba(143,2,34,1) 55%, rgba(109,0,25,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 15%, rgba(171,2,41,1) 21%, rgba(143,2,34,1) 55%, rgba(109,0,25,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(169,3,41,1) 15%, rgba(171,2,41,1) 21%, rgba(143,2,34,1) 55%, rgba(109,0,25,1) 100%);
}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 140px;
    text-align: center;

}

.btn-white{
    display: block;
    background: white;
    color: rgb(88, 88, 88);
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 35px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(104, 104, 104);
}

.btn-warning{
    background: rgb(240, 176, 40) !important;
    color: white !important;
    text-decoration: none !important;
}

.btn-danger{
    background: rgb(192, 18, 18) !important;
    color: white !important;
    text-decoration: none !important;
}

.btn-warning:hover, .btn-danger:hover{
    transition: 300ms all;
    opacity: 0.8;
}

.buttons{
    margin-top: 30px;
}

.btn-white:hover{
    background-color: #444;
    color: white;
    transition: 300ms all;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
}

#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 25px;
}

#sidebar{
    width: 25%;
    float: left;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 150px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

.btn-success{
    background: rgb(15, 202, 40);
}

.btn-success:hover{
    background-color: black;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}

.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="text"], input[type="file"], textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 5px;
    transition: 300ms all;
    text-decoration: none;
    outline: none;
}

.afu-attach-pin{
    width: 100% !important;
    max-width: 90% !important;
    margin-top: 15px;
}

.image-thumb img{
    width:150px;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 3px rgb(219, 217, 217) inset;
}

textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
}

.radiobuttons{
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
}

#footer{
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p{
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap { 
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(129, 129, 129);
}

.article-item a{
    display: block;
    text-decoration: none;
    color: #444;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}

.article-item .subheader{
    margin-bottom: 0px;
    border: none;
    margin-top: 15px;
}


/* RESPONSIVE */
@media (max-width: 1490px){
    .center{
        width: 85%;
    }
}

@media (max-width: 1300px){
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
}



@media (max-width: 850px){
    #logo {
        float: none;
        width: 265px;
        margin: 0px auto;
        margin-top: 20px;
    }
    #menu, #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }

    .mid-form{
        width: 70%;
    }
}

@media (max-width: 500px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }

    #menu, #menu ul{
        line-height: 50px;
    }

    #menu ul il{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 180px;  
    }
    #slider h1{
        font-size: 19px;  
        padding-top: 30px;
    }

    #slider .btn-white{
        margin-top: 20px;
    }

    #slider .slider-small{
        height: 100px;
    }

    #slider .slider-small h1{
        padding-top: 35px;
    }
}