<header id="header">
    <div class="center">

        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/Angular.svg" class="app-logo" alt="logotipo">
            <span id="brand">
                <strong>Curso</strong>Angular
                
            </span>
        </div>

        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Películas</a>
                </li>
                <li>
                    <a [routerLink]="['/pagina-de-pruebas']" [routerLinkActive]="['active']">Pagina Pruebas</a>
                </li>
            </ul>
        </nav>
        <!--  LIMPIAR FLOTADO  -->
        <div class="clear-fix"></div>
    </div>
</header>