<app-slider [nombre]="'Bienvenido al Master de Angular'">
</app-slider>

<div class="center">
    <section id="content">

        <h2 class="subheader">{{title}}</h2>

        <app-articles 
            [articles] = "articles"
        ></app-articles>

    </section>
    <app-sidebar></app-sidebar>
</div>